# OS.
.DS_Store
Thumbs.db

# VSCode.
.vscode/
.idea/
.ruff_cache/

# Python
__pycache__/
*.py[cod]
.env
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.venv/
*.pth

# Dir.
data/
model/
param/
log/
